---
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogPost from '../components/Astro/BlogPost.astro';

import { getCollection } from 'astro:content';
const allPosts = await getCollection('posts');
const AstroDocs = await getCollection('Astro');
const pageTitle = '我的 Astro 学习博客'

---
<BaseLayout pageTitle={pageTitle}>
   
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={`/content/posts/${post.slug}/`} title={post.data.title} />
      ))
    }

    {
      AstroDocs.map((post) => (
        <BlogPost url={`/content/Astro/${post.slug}/`} title={post.data.title} />
      ))
    }
  </ul>

</BaseLayout>
