---
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogPost from '../components/Astro/BlogPost.astro';
import { db } from 'astro:db';
import { Comment } from 'astro:db';

const allPosts = await Astro.glob('../pages/**/*.md');
const pageTitle = '我的 Astro 学习博客'

// 查询数据库
const comments = await db.select().from(Comment)
---
<BaseLayout pageTitle={pageTitle}>
    <p>在这里，我将分享我的学习 Astro 之旅。</p>
    <ul>
        {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title}/> )}
    </ul>

    <h2>Comments</h2>
{
  comments.map(({ authorId, content }) => (
    <article>
      <p>Author: {authorId}</p>
      <p>{content}</p>
    </article>
  ))
}
</BaseLayout>
