---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;

import { getEntry, render } from 'astro:content';
const product = await getEntry('Astro', 'Start');

---
<BaseLayout pageTitle={frontmatter.title}>
  <p><em>{frontmatter.description}</em></p>
  <p>{frontmatter.pubDate.toString().slice(0,10)}</p>

  <p>Written by: {frontmatter.author}</p>


  <div class="flex">
    {frontmatter.tags.map((tag) => (
      <p class="m-1 border-[1px] border-x-cyan-100 rounded-md px-2"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>
  <article class="prose px-10 bg-white min-w-full min-h-full">
    <slot />
  </article>
  
</BaseLayout>
